@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color1: #00b965;
  --color2: #ff8c00;
  --color3: #052f5c;
  --color4: #40e0d0;
  --color5: #9bdebf;
  --color6: #f86048;
  --bg-color: #f2f9ff;
}

/* Home Css */

.color1 {
  color: var(--color3);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color6);
}

.bg-colors {
    background-color: var(--bg-color);
}

.bg-color {
    background-color: var(--color3);
}

body {
  font-family: Roboto;
  background-color: var(--bg-color);
}



.user  {
    max-width: 12%;
    max-height: 12%;
    position: relative;
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.left {
    float: left;
}

#off-canvas {
    width: 40px !important;
    height: 100vw;
    max-width: 100%;
}

.full-height {
    min-height: 100vh;
    max-width: 100%;
}

.inside-column {
    width: 30%;
}

.picture{
    position: relative;
}

.delete-picture {
    display: inline-block;
    z-index: 5;
    transition: .5s eas;
    position: absolute;
}

.delete-picture:hover{
    color: red;
    background-color: white;
    transition: .5s eas;
}

.dim{
    transition: .5s ease;
    cursor: pointer;
}

.dim img:hover{
    filter: brightness(.5);
    transition: .5s ease;
}

.main-p{
    min-height: 80vh;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pix {
    max-width: 35%;
    margin: 0 auto;
    position: relative;
}

.profile-pix img{
    max-width: 100%;
    border: 3px solid var(--color3);
    border-radius: 50%;
}

/* .pix-icon{
    position: absolute;
    display: inline-block;
    top: 90%;
    left: 15%;
    margin-top: -30px;
    background-color: white;
    padding: 0 5px;
    display: flex;
    border-radius: 50%;
} */